<div class="header">
    <img src="/assets/Images/cakeIcon2.png" alt="sddsdsdds">
    <h1 class="title"> Nuestros productos </h1>
</div>
    



<mat-grid-list cols="3" >
    <mat-grid-tile *ngFor= "let product of productList">
        <div class="card-container" >
            <div class="card">
                <div class="card-content">
                    <h2 class="card-title"> {{product.name}} </h2>
                    <p class="card-body"> 
                        Precio: {{product.price}} <br>  <br>
                        Porciones: {{product.portions}}
                    </p>
                    <button mat-raised-button class="button" (click)="addProduct(product)"> 
                        <i class="fas fa-cart-plus"></i>
                        Agregar  
                    </button>
                    <div class="input-container">
                        <span class="btn-next" (click)="add(product)"></span>
                        <span class="btn-prev" (click)="substract(product)"></span>
                        
                        <div class="text center">
                            {{product.quant}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-grid-tile>
</mat-grid-list>