/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-form-field-label {
    color: white !important;
}
.mat-form-field-underline {
    display: none;
}

.mat-expansion-panel:not([class*='mat-elevation-z']) {
    box-shadow: none;
}

.mat-select-value-text {
    color: white !important;
}


.mat-expansion-panel-body {
    padding: 0 !important;
}



  
