<h1 style="text-align: center">Editar zona</h1>

<div style="position: relative; left: 23%">
  <form>      
    <div>
      <img [src]="image" height="200"><br><br>
      <input class="" type="file" name="image" (change)="selectImage($event)" />
    </div>
    <br>
  </form>
</div>
<form [formGroup]="form" class="normal-form"> 
    <div class="inputs-container">
        <input type="hidden" value="$key">
        <mat-form-field>
          <h3 style="width:fit-content">Nombre de la zona</h3>  
          <input class="" formControlName="name" placeholder="">
        </mat-form-field>
        <mat-form-field>
            <h3>Precio</h3>
            <input formControlName="price" placeholder="">
        </mat-form-field>
    </div>
</form>
<div>
    <button type="submit" (click)="onSubmit()">Guardar</button>
</div>