<app-header></app-header>
<app-navbar></app-navbar>
<div class="welcome title">  
    <h1>¡Bienvenida Elvia!</h1>
    <h2>Pedidos pendientes</h2>
</div>
<div class="Ccontainer">
    <ngx-slick-carousel class="carousel"
                        #slickModal="slick-carousel" 
                        [config]="slideConfig" 
                        (init)="slickInit($event)"
                        (breakpoint)="breakpoint($event)"
                        (afterChange)="afterChange($event)"
                        (beforeChange)="beforeChange($event)">
        <div ngxSlickItem *ngFor="let order of orders" class="slide">
            <div class="order-card">
                <div class="order-padding">

                  <h3>Orden ID# {{order._id}}</h3>
                  <br> <br>
                  <p> <b>Pedido</b> </p>
                  <div *ngFor="let product of order.orderInfo">
                    <p style="padding-left: 2rem;">{{product.quant}} {{product.name}}</p>
                  </div>
                  <br>
                  <p><b>Nota del pedido</b></p>
                  <p style="padding-left: 2rem;">{{order.orderNote}}</p>
                  <button mat-raised-button class="button" (click)="onFinish(order)"> 
                    <i class="fas fa-pencil-alt"></i>
                    Completar  
                </button>
                <br> <br><br> <br>
                <h4>Precio total del pedido: ₡ {{order.totalAmount}}</h4>

                <div class="contactInfo">
                    <div style="float: left; padding-right: 2rem;">
                        <i class="far fa-user-circle fa-5x"></i>
                    </div>
                    <p class="contactName"> {{order.customerInfo.contactInfo.name}}</p>
                    <p class=" contactText">
                        <i class="far fa-envelope"></i>
                        {{order.customerInfo.email}}
                    </p>
                    <p class="contactText">
                        <i class="fas fa-phone-alt"></i>
                        {{order.customerInfo.contactInfo.phone}}
                    </p>  
                </div>
                                                       

                </div>
            </div>
        </div>
    </ngx-slick-carousel>
</div>

