<h1 style="text-align: center">Editar producto</h1>

<form [formGroup]="form" (submit)="onSubmit()"> 
  <div class="inputs-container">
      <div *ngIf="imagePreview">
        <img [src]="imagePreview" [alt]="form.value.name"/> <br>
      </div>
      <div>
        <input (change)="onFileSelect($event)" type="file" />
      </div><br>
      <div>
          <input formControlName="name" placeholder="Nombre del producto">
      </div><br>
      <div>
          <input formControlName="price" placeholder="Precio del producto">
      </div><br>
      <div>
          <input formControlName="portions" placeholder="Número de porciones">
      </div><br>
  </div>
  <div>
    <button> Cancelar </button>
    <button type="submit">Guardar</button>
  </div>
</form>
