/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-form-field-label {
    color: rgba(110, 70, 37) !important;
  }
  .mat-form-field-underline {
    background-color: rgb(110, 70, 37) !important;
  }
