.header {
    position: relative;
    padding: 2rem;
    padding-left: 0;
}

.footer {
    padding-top: 1rem;
}

.title {
    font-family: 'Trebuchet MS';
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 27px;
    color: #352727;
}


.product-headers {
    position: relative;
    padding-left: 1rem;
    padding-right: 1rem;
    bottom: 1rem;
    width: 100%;
    border-radius: 15px;
    background-color: #D2B895;

}

.product-headers.text {
    font-family: 'Trebuchet MS';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 27px;
    color: #352727;
}

.text {
    font-family: 'Trebuchet MS';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #352727;
}

.product-note {
    position: relative;
    height: 5rem;
    width: 35%;
    background-color:#D2B895;
}

.input {
    color:#352727;
    height: 3.8rem;
}

.button {
    position: relative;    
    left: 86%;
    bottom: 0%;
    border-radius: 20px;
    background: #352727;
    color: white;
}

.product {
    
    position: relative;
    padding: 1rem;
    width: 100%;
    height: fit-content;
    margin-bottom: 1rem;
    overflow:hidden;
}


.image-container {
    position: relative;
    float: left;
    height: 168px;
    width: 25%;
    background-image: var(--img);
    background-size: cover;
}

.info-container {
    margin-left: 1rem;
    width: 70%;
    float: right;
    position: relative;
}

.product-name {
    font-family: 'Trebuchet MS';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    color: #352727;
}

.input-container {
    display: inline-block;
    position: relative;
    float: left;
    margin-left: 10px;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, .2);
    background-color: white;
    transition:  transform 500ms ease ;
}



.input-container .btn-next {
    position: absolute;
    top: 50%;
    right: 30px;
    display: block;
    width: 12px;
    height: 12px;
    border-top: 2px solid black;
    border-left: 2px solid black;
    transform: translateY(-50%) rotate(135deg);
    cursor: pointer;
    opacity: 0;
    transition: 500ms;
}

.input-container .btn-prev {
    position: absolute;
    top: 50%;
    left: 30px;
    display: block;
    width: 12px;
    height: 12px;
    border-top: 2px solid black;
    border-left: 2px solid black;
    transform: translateY(-50%) rotate(315deg);
    cursor: pointer;
    opacity: 0;
    transition: 500ms;
}

.input-container:hover{
    border: 2px solid rgba(0,0,0, 1);
}

.input-container:hover .btn-next {
    opacity: 1;
    right: 10px;
}
.input-container:hover .btn-prev {
    opacity: 1;
    left: 10px;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.total {
    position: relative;
    bottom: 5rem;
    right: 0.5rem;
    float: right;
}

.delete-button {
    bottom: 0.1rem;
    left: 0.2rem;
    float: left;
    text-decoration: underline;
}

.empty-cart {
    height: 25rem;
    width: 100%;
}

.bottom-center {
    margin: 0;
    position: absolute;
    top: 65%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

