<div class="footerContainer">

    <div class="menuContainer">
        <h1 class="title">MENÚ PRINCIPAL</h1>
        <button mat-button class="button text">Inicio</button>
        <br>
        <button mat-button class="button text">Productos</button>
        <br>
        <button mat-button class="button text">Carrito </button>
        <br>
        <button mat-button class="button text">Alcance</button>
    </div>

    <div class="findUsContainer">
        <h1 class="title">ENCUENTRANOS EN</h1>
        <button mat-button class="button text">
            <i class="fab fa-facebook"></i>
            Facebook
        </button>
        <br>
        <button mat-button class="button text">
            <i class="fab fa-instagram"></i>
            Instagram
        </button>
        <br>
        <button mat-button class="button text">
            <i class="fab fa-whatsapp"></i>
            Whatsapp 
        </button>

    </div>

    <div class="bottom"></div>
    
</div>