.Ccontainer {
    position: relative;
    width: 70%;
    top: 32%;
    left:22%;
}

.welcome.title{
    position: absolute;
    left: 26.39%;
    right: 55.21%;
    top: 20%;
}

h1{
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    text-align: right;
    color: #352727;
}

h2{
    font-weight: 400;
    font-size: 26px;
    line-height: 25px;
    text-align: left;
    color: #352727;
}

h3{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    left:50%;
    color: #352727;
    text-align: left;
}

h4{
    text-align: center;
}

.slick-slider {
    width: 88%;
    margin: auto;
}

.order-card {
    /* Add shadows to create the "card" effect */
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
  }
  
  /* On mouse-over, add a deeper shadow */
  .order-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .order-padding {
    padding: 2px 16px;
  }

.button {
    cursor: pointer;
    float: right;
    display: inline-block;
    text-decoration: none;
    background-color: #D2B895;
    color: black;
    border-radius: 20px;
}

.button:hover,
.button:focus {
    background-color: white;
    color: #352727;
}

.contactInfo {
    width: 100%;
    height: 6rem;
    background-color: #90694A;
    border-radius: 40px;
    border-top-left-radius: 0px;
    padding: 1rem;
    padding-left: 3rem;
    color:#D2B895;
}

.contactName {
    color: white;
    font-size: 26px;
}

.contactText {
    float: left;
    color: white;
    font-size: 16px;
    padding-left: 3rem;
}   