.sideNavBar {
    position: absolute;
    left: 0%;
    right: 80%;
    top: 15.23%;
    bottom: 0%;
    border-top-right-radius: 40px;
    background: rgba(144, 105, 74, 1);
}

.imageContainer {
    position: relative;
    right: 0%;
    left: 0%;
    top: 10%;
    
}

.innerSideNavBar {
    overflow: hidden;
}

.inicio {
    width: 350px;
    height: 60px;
    position: absolute;
    left: 20%;
    top: 10%;
    bottom: 71.19%;
    border: none;
    background: #FFFFFF;
    border-radius: 22px;
    font-family: 'Trebuchet MS';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #90694A;
}

.inicioFalse {
    width: 350px;
    height: 60px;
    position: absolute;
    left: 20%;
    top: 10%;
    bottom: 71.19%;
    border: none;
    background: none;
    border-radius: 22px;
    font-family: 'Trebuchet MS';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
}


.pendientes {
    width: 350px;
    height: 60px;
    position: absolute;
    left: 20%;
    top: 25%;
    bottom: 71.19%;
    border: none;
    background: #FFFFFF;
    border-radius: 22px;
    font-family: 'Trebuchet MS';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #90694A;;
}

.pendientesFalse {
    width: 350px;
    height: 60px;
    position: absolute;
    left: 20%;
    top: 25%;
    bottom: 71.19%;
    border: none;
    background: none;
    border-radius: 22px;
    font-family: 'Trebuchet MS';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
}

.completados {
    width: 350px;
    height: 60px;
    position: absolute;
    left: 20%;
    top: 40%;
    bottom: 71.19%;
    border: none;
    background: #FFFFFF;
    border-radius: 22px;
    font-family: 'Trebuchet MS';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #90694A;;
}

.completadosFalse {
    width: 350px;
    height: 60px;
    position: absolute;
    left: 20%;
    top: 40%;
    bottom: 71.19%;
    border: none;
    background: none;
    border-radius: 22px;
    font-family: 'Trebuchet MS';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
}

.menu {
    width: 350px;
    height: 60px;
    position: absolute;
    left: 20%;
    top: 55%;
    bottom: 71.19%;
    border: none;
    background: #FFFFFF;
    border-radius: 22px;
    font-family: 'Trebuchet MS';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #90694A;;
}

.menuFalse {
    width: 350px;
    height: 60px;
    position: absolute;
    left: 20%;
    top: 55%;
    bottom: 71.19%;
    border: none;
    background: none;
    border-radius: 22px;
    font-family: 'Trebuchet MS';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
}

.envios {
    width: 350px;
    height: 60px;
    position: absolute;
    left: 20%;
    top: 70%;
    bottom: 71.19%;
    border: none;
    background: #FFFFFF;
    border-radius: 22px;
    font-family: 'Trebuchet MS';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #90694A;;
}

.enviosFalse {
    width: 350px;
    height: 60px;
    position: absolute;
    left: 20%;
    top: 70%;
    bottom: 71.19%;
    border: none;
    background: none;
    border-radius: 22px;
    font-family: 'Trebuchet MS';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
}

.usuarios {
    width: 350px;
    height: 60px;
    position: absolute;
    left: 20%;
    top: 85%;
    bottom: 71.19%;
    border: none;
    background: #FFFFFF;
    border-radius: 22px;
    font-family: 'Trebuchet MS';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #90694A;;
}

.usuariosFalse {
    width: 350px;
    height: 60px;
    position: absolute;
    left: 20%;
    top: 85%;
    bottom: 71.19%;
    border: none;
    background: none;
    border-radius: 22px;
    font-family: 'Trebuchet MS';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
}

.fa-chevron-right{
    position: absolute;
    left: 80%;
    top: 30%;
}
