
carousel{
    z-index: 9;
    position: absolute;
    top:36%;
    left:27%;
    width:70%
}

.CContainer.title{
    position: absolute;
    left: 26.39%;
    right: 55.21%;
    top: 20.12%;
}

h1{
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    text-align: right;
    color: #352727;
}

h2{
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    text-align: right;
    color: #352727;
}

h3{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    left:50%;
    color: #352727;
    text-align: center;
}

.text-title{
    position: relative;
    top: 30%;
    margin-left: -6%;
    word-wrap: break-word;
    font-weight: 600px;
    font-size: 18px;
    color: #352727;
}

.text-number{
    position: relative;
    word-break: break-all;
    font-weight: 600;
    font-size: 32px;
    line-height: 50px;
    left: 38%;
    color: #352727;
}

.CContainer.queries{
    position: relative;
    width: 35%;
    height: 35%;
    left: 27%;
    top: 62%;
}

mat-grid-tile {
    position: absolute;
    background: #D2B895;
}

table {
    position: absolute;
    width: 32%;
    top: 65%;
    left: 65%;
    background-color: #ffffff00
}