<div class = "HeaderContainer">
    <img class="title" src="assets/Images/Title.png">

    
    <div class="grid-container">

        <div class="grid-child ">
            <button mat-button class="Nbutton text">Inicio</button>
        </div>

        <div class="grid-child divider"></div>
    
        <div class="grid-child ">
            <button mat-button class="Nbutton text">Acerca</button>
        </div>

        <div class="grid-child divider"></div>

        <div class="grid-child ">
            <button mat-button class="Nbutton text">Productos</button>
        </div>

        <div class="grid-child divider"></div>
    
        <div class="grid-child ">
            <button mat-button class="Nbutton text">Contacto</button>
        </div>

        <div class="grid-child ">
            <button  class="Cbutton text"  mat-raised-button matBadge="{{this.shoppingCart.length}}" matBadgeColor="warn" (click)="openShoppingCart()" >
                <i class="fas fa-shopping-cart"></i>
                Tu carro
            </button>
        </div>
      
    </div>
    

</div>
