.Ccontainer {
    position: relative;
    width: 70%;
    top: 28%;
    left:22%;
}

.welcome.title{
    position: absolute;
    left: 26.39%;
    right: 55.21%;
    top: 20.12%;
}

h1{
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    text-align: right;
    color: #352727;
}

h2{
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    text-align: right;
    color: #352727;
}

h3{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #352727;
}


.button.agregar {
    display: flex;
    flex-direction: column;
    background-color:#ffffff00;
    align-items: center;
    border: none;
}

.slick-slider {
    width: 88%;
    margin: auto;
}
