<app-header></app-header>
<app-navbar></app-navbar>
<div class="welcome title">  
    <h1>¡Bienvenida Elvia!</h1>
    <h2>Menú de productos</h2>
</div>
<div style="position: relative; left:80%; top:20%; width: 10%;"> 
    <button mat-icon-button (click)="onCreate()">
        <mat-icon class="material-icons-outlined" style="font-size: 26px;">
            add_circle_outline
        </mat-icon>
    </button>
    <h3 style="margin-left:-43px;">Añadir producto</h3>
</div>
<div class="Ccontainer">
    <ngx-slick-carousel class="carousel"
                        #slickModal="slick-carousel" 
                        [config]="slideConfig" 
                        (init)="slickInit($event)"
                        (breakpoint)="breakpoint($event)"
                        (afterChange)="afterChange($event)"
                        (beforeChange)="beforeChange($event)">
        <div ngxSlickItem *ngFor="let product of products" class="slide">
              <div class="card" style="--img: url('{{apiUrl+product.image}}');">
                <div class="card-content">
                    <h2 class="card-title"> {{product.name}} </h2>
                    <p class="card-body"> 
                        Precio:  {{product.price}} <br> <br>
                        Porciones: {{product.portions}}
                    </p>
                    <button mat-raised-button class="button" (click)="onEdit(product)"> 
                        <i class="fas fa-pencil-alt"></i>
                        Modificar  
                    </button>
                    <button mat-raised-button class="button" style="margin-top: 8px;"(click)="onDelete(product)"> 
                        <i class="fas fa-trash-alt"></i>
                        Eliminar  
                    </button>
                </div>
            </div>
        </div>
    </ngx-slick-carousel>
</div>

