<app-header></app-header>
<app-navbar></app-navbar>
<div class="container title">  
    <h1>¡Bienvenida Elvia!</h1>
    <h2>Menú de productos</h2>
</div>
<div style="position: relative; left:89%; top:20%;"> 
    <button mat-icon-button (click)="onCreate()">
        <mat-icon class="material-icons-outlined" style="font-size: 26px;">
            add_circle_outline
        </mat-icon>
    </button>
    <div style="margin-left: -5px; margin-top: 0px;">
        <h3>Añadir</h3>
        <h3 style="position:relative; margin-top: -25px; margin-left: -35px;">nuevo producto</h3>
    </div>
      
</div>
<div class="container cards">
<mat-grid-list cols="3" rowHeight="2:3">
    <mat-grid-tile *ngFor="let product of products" >
        <mat-card class="example-card">
            <img mat-card-image src={{product.image}} alt="Imagen del producto">
            <mat-card-content>
                <mat-card-title>{{ product.name }}</mat-card-title>
                <p>Precio: {{ product.price }}</p>
                <p>Porciones: {{ product.portions }}</p>
            </mat-card-content>
            <mat-card-actions>
              <button class="button modificar" (click)="onEdit()"><i class="fas fa-pencil-alt"></i> Modificar</button>
            </mat-card-actions>
          </mat-card>
    </mat-grid-tile>
</mat-grid-list>
</div>