<app-header></app-header>
<app-navbar></app-navbar>
<div class="welcome title">  
    <h1>¡Bienvenida Elvia!</h1>
    <h2>Menú de productos</h2>
</div>
<div style="position: relative; left:80%; top:20%; width: 10%;"> 
    <button mat-icon-button (click)="onCreate()">
        <mat-icon class="material-icons-outlined" style="font-size: 26px;">
            add_circle_outline
        </mat-icon>
    </button>
    <h3 style="margin-left:-43px;">Añadir producto</h3>
</div>
<div class="Ccontainer">
    <ngx-slick-carousel class="carousel" style="position: relative; padding-top: 10px;"
                        #slickModal="slick-carousel" 
                        [config]="slideConfig" 
                        (init)="slickInit($event)"
                        (breakpoint)="breakpoint($event)"
                        (afterChange)="afterChange($event)"
                        (beforeChange)="beforeChange($event)">
        <div ngxSlickItem *ngFor="let product of products" class="slide">
              <img src="{{ product.image }}" alt="" width="100%">
        </div>
    </ngx-slick-carousel>
</div>

